<%- include("../../partials/admin_header") %> 

<!-- begin app-main -->

<%- include("../../partials/alerts") %>
 <!-- begin app-main -->
 <div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-10">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h4 class="hey">View Cinemas</h4>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- begin row -->

        <!-- Table section -->
        <div class="row">
            <div class="col-lg-12 open-section">
                <h4 class="user-1">
                    All Cinema Available Tickets
                </h4>
                <h4 class="user-1">Export as :  
                    <button class="table-button">
                        CSV
                    </button>
                    <button class="table-button">
                        PDF
                    </button>
                    <button class="table-button">
                        Print
                    </button>
                </h4>
                <div class="col-lg-12 table-responsive">
                    <table border="1" class="open-section-2 table">
                        <tr class="mode-1">
                            <th width="50">S/N</th>
                            <th>Studio Title</th>
                            <th>Viewing Date</th>
                            <th>Genre</th>
                            <th>Storyline</th>
                            <th>Cast</th>
                            <th>Duration</th>
                            <th>Seats</th>
                            <th>Age Rating</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Morning Time</th>
                            <th>Afternoon Time</th>
                            <th>Evening Time</th>
                            <th>CreatedAt</th>
                            <th>Actions</th>
                        </tr>
                        <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                            <tr class="mode-2">
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= data[i].title%>
                                </td>
                                <td>
                                    <%= new Date(data[i].view_date).toDateString()%>
                                </td>
                                <td>
                                    <%= data[i].genre%>
                                </td>
                                <td>
                                    <%= data[i].storyline%>
                                </td>
                                <td>
                                    <%= data[i].cast%>
                                </td>
                                <td>
                                    <%= data[i].duration%>
                                </td>
                                <td>
                                    <%= data[i].seat%>
                                </td>
                                <td>
                                    <%= data[i].age_rate%>
                                </td>
                                <td>
                                    <%= data[i].price%>
                                </td>
                                <td>
                                    <%= data[i].rating%>
                                </td>
                                <td>
                                    <%= data[i].morning%>
                                </td>
                                <td>
                                    <%= data[i].afternoon%>
                                </td>
                                <td>
                                    <%= data[i].evening%>
                                </td>
                                <td>
                                    <%= new Date(data[i].createdAt).toDateString()%>
                                </td>
                                <td>
                                    <a href="/dashboard/admin/cinema-view/<%= data[i].id%>">
                                        <img src="assets4/img/edit.png" style="height:15px;width:15px;" draggable="false" alt="">
                                    </a>
                                </td>
                            </tr>
                            <% } }else{ %>
                                <tr>
                                    <td>no data available</td>
                                </tr>
                                <% } %>
                    </table>
                    <div class="view">Cinemas <i class="bi bi-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <!-- Table section Ends -->
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
<!-- begin footer -->
<%- include("../../partials/admin_footer") %> 

<!-- end app -->

<!-- plugins -->

</body>
</html>