<%- include("../../partials/admin_header") %>

<!-- begin app-main -->

<%- include("../../partials/alerts") %>
  <!-- begin app-main -->
  <div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-10">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h4 class="hey">Food (Uploaded Products)</h4>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- begin row -->

        <!-- Table section -->
        <div class="row">
            <div class="col-lg-12 open-section">
                <h4 class="user-1">
                    Uploaded Products
                </h4>
                <h4 class="user-1">Export as :  
                    <button class="table-button">
                        CSV
                    </button>
                    <button class="table-button">
                        PDF
                    </button>
                    <button class="table-button">
                        Print
                    </button>
                </h4>
                
                <div class="col-lg-12 table-responsive">
                    <table border="1" class="open-section-2 table">
                        <tr class="mode-1">
                            <th>Food Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Toppings</th>
                            <th>Price</th>
                            <th>Packagings</th>
                            <th>Packaging Price</th>
                            <th>CreatedAt</th>
                            <th>Update</th>
                        </tr>
                            <tr class="mode-2">
                                <td>
                                    <%= data.title%>
                                </td>
                                <td>
                                    <%= data.price%>
                                </td>
                                <td>
                                    <%= data.description%>
                                </td>
                                
                                <% if (data.foodextras?.length) { %>
                                    <td>
                                        <% for( let i = 0; i < data.foodextras.length; i++ ) { %>
                                        
                                            <%= data.foodextras[i].topping%>
                                            <br>
                                        
                                    <% } %>
                                        
                                    </td>
                                    <td>
                                        <% for( let i = 0; i < data.foodextras.length; i++ ) { %>
                                        
                                            <%= data.foodextras[i].price%>
                                            <br>
                                        
                                    <% } %>
                                        
                                    </td>
                                <% } else{ %>
                                    <td>
                                        Not available
                                    </td>
                                    <td>
                                        Not available
                                    </td>
                                    <% } %> 

                                <% if (data.foodpackagings?.length) { %>
                                <td>
                                    <% for( let i = 0; i < data.foodpackagings.length; i++ ) { %>
                                        
                                            <%= data.foodpackagings[i].name%>
                                            <br>
                                        
                                    <% } %>
                                    
                                </td>
                                <td>
                                    <% for( let i = 0; i < data.foodpackagings.length; i++ ) { %>
                                        <%= data.foodpackagings[i].price%>
                                        <br>
                                    <% } %>
                                    
                                </td>
                                <% } else{%>
                                    <td>
                                        Not available
                                    </td>
                                    <td>
                                        Not available
                                    </td>
                                    <% } %> 
                                
                                <td>
                                    <%= new Date(data.createdAt).toDateString()%>
                                </td> 
                                <td>
                                    <a data-toggle="modal" data-target=".bd-example-modal-lg">
                                        <i class="fa fa-edit"></i>

                                    </a>
                                </td>
                            </tr>
                           
                    </table>

                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Food Update</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
         <form method="post" action="/dashboard/admin/food-update/<%= data.id%>">
                                    <div class="row bg-white py-3 rounded-lg">
                                        <div class="col-md-12">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4" class="text-dark">Food Name</label>
                                                    <input  type="text" name="title" class="form-control" id="inputEmail4" required
                                                        placeholder="food name" value="<%= data.title%>">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword4" class="text-dark">Price</label>
                                                    <input type="number" min="0" min="0" class="form-control" name="price" id="inputPassword4" required
                                                        placeholder="5000" value="<%= data.price%>">
                                                </div>
                                            </div>

                                            <% if (data.foodpackagings?.length) { %>
                                                
                                                <% for( let i = 0; i < data.foodpackagings.length; i++ ) { %>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4" class="text-dark">Package Name <%= i+1%> </label>
                                                    <input  type="text" name="packageName" class="form-control" id="inputEmail4" required
                                                        placeholder="Package name" value="<%= data.foodpackagings[i].name%>">
                                                        <input  type="hidden" name="packageId" class="form-control" id="inputEmail4" required
                                                        value="<%= data.foodpackagings[i].id%>" readonly>
                                                        
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputPassword4" class="text-dark">Package Price <%= i+1%> </label>
                                                    <input type="number" min="0" min="0" class="form-control" name="packagePrice" id="inputPassword4" required
                                                        placeholder="5000" value="<%= data.foodpackagings[i].price%>">
                                                </div>
                                            </div>  
                                                
                                            <% } %>
                                                
                                            
                                        <% } else{ %>
                                      
                                            <% } %> 
                                       
                                            <div class="form-row" id="packaging">
                
                                            </div>
                                            <div class="form-group col-lg-12" >
                                               <button id="packagingAlternate" class="btn btn-primary">Add Alternate Packaging</button>
                                            </div>
                                           
                                          

                                            <% if (data.foodextras?.length) { %>
                                                
                                                    <% for( let i = 0; i < data.foodextras.length; i++ ) { %>
                                                    
                                                      
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="inputEmail4" class="text-dark">Toppings Name <%= i+1%> </label>
                                                                <input  type="text" name="top" class="form-control" id="newtopping" required
                                                                    placeholder="Topping name" value="<%= data.foodextras[i].topping%>">
                                                                    <input  type="hidden" name="topId" class="form-control" id="newtopping" required
                                                                    value="<%= data.foodextras[i].id%>" readonly>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4" class="text-dark">Topping Price <%= i+1%> </label>
                                                                <input type="number" min="0" min="0" class="form-control" name="topPrice" id="newprice" required
                                                                    placeholder="5000" value="<%= data.foodextras[i].price%>">
                                                            </div>
                                                        </div>
                                                    
                                                        
                                                        
                                                    
                                                <% } %>
                                                    
                                                
                                            <% } else{ %>
                                          
                                                <% } %> 
                                            <div class="form-row" id="topping">
                
                                            </div>
                                            <div class="form-group col-lg-12" >
                                               
                    
                                                <button id="toppingAlternate" class="btn btn-primary">Add Alternate Topping</button>
                   
                  <!-- <input type="button" value="Save" onclick="savedata()">
                   <input type="button" value="Show data" onclick="displayData()"> -->
                   
                 
                <script type="text/javascript">
                
                $('#toppingAlternate').on('click',function() {
                
                $('#topping').append('<div class="form-group col-md-6"><label for="inputEmail4" class="text-dark">New Topping Name</label><input  type="text" name="top" class="form-control" id="newtopping" required placeholder="Topping name"> <input  type="hidden" name="topId" class="form-control" id="newtopping" required value="Topping name" readonly></div><div class="form-group col-md-6"> <label for="inputPassword4" class="text-dark">New Topping Price</label> <input type="number" min="0" min="0" class="form-control" name="topPrice" id="newprice" required placeholder="5000"></div>');
                
                });
                
                $('#packagingAlternate').on('click',function() {
                
                $('#packaging').append(' <div class="form-group col-md-6"> <label for="inputEmail4" class="text-dark">New Package Name</label><input  type="text" name="packageName" class="form-control" id="inputEmail4" required placeholder="Package name">  <input  type="hidden" name="packageId" class="form-control" id="inputEmail4" required value="Package name" readonly></div> <div class="form-group col-md-6">  <label for="inputPassword4" class="text-dark">New Package Price</label>  <input type="number" min="0" min="0" class="form-control" name="packagePrice" id="inputPassword4" required placeholder="5000"> </div>');
                
                });
                //  var arrtopping=new Array();
                // var arrprice=new Array();
                 
                // function savedata(){
                //      var topping = document.getElementById('topping').value;
                //     var price = document.getElementById('price').value;
                //      arrtopping[arrtopping.length]=topping;    
                //     arrprice[arrprice.length]=price;
                //   }
                   
                 
                // function displayData() 
                // {
                //   var newtopping=[...arrtopping];
                //   var newprice=[...arrprice];
                 
                //    document.getElementById('newtopping').setAttribute('value', newtopping);
                //   document.getElementById('newprice').setAttribute('value', newprice);
                
                // }
                 
                 
                </script>
                                            </div>
                                            <!-- <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputPassword4" class="text-dark">Upload Food Pictures</label>
                                                    <input required type="file" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" name="food_pictures" multiple class="form-control"
                                                        id="inputPassword4" placeholder="Password" >
                                                </div>
                                            </div> -->
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1" class="text-dark">Description</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
                                                    rows="5" value="<%= data.description%>"><%= data.description%></textarea>
                                            </div>
                                            
                
                
                                            <button type="submit" name="submit" value="submit" class="btn btn-primary btn-block border-0"
                                                style="background-color: red;">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
    </div>
  </div>
</div>

                    <div class="view">View all users <i class="bi bi-arrow-right"></i></div>
                </div>
            </div>
        </div>

        <div class="row bg-white rounded-lg">
            <div class="col-lg-12">
            <h3>Food Images</h3>
        <div class="row bg-white rounded-lg">

            <% if(img.length){ for(var i=0; i< img.length; i++) { %>
                <div class="col-lg-6">
                    <img src="<%= img[i].img_url%>" class="img-thumbnail" alt="foodimages" >
                </div>
           <% }}else{ %>
            <div class="col-lg-12"><h4>no image available</h4></div>
            <% } %>
                
        </div>      
            </div>    
        </div>
        <!-- Table section Ends -->
        <!-- end row -->
        
    </div>
    
    
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
<!-- begin footer -->
 <!-- begin footer -->
 <%- include("../../partials/admin_footer") %>

<!-- end app -->

<!-- plugins -->


<!-- end app -->

<!-- plugins -->

</body>
</html>