<%- include("../../partials/admin_header") %>

<!-- begin app-main -->

<%- include("../../partials/alerts") %>
  <!-- begin app-main -->
  <div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-10">
                <!-- begin page title -->
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-4 pr-4 border-right">
                        <h4 class="hey">Rent (Uploaded Products)</h4>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- begin row -->

        <!-- Table section -->
        <div class="row">
            <div class="col-lg-12 open-section">
                <h4 class="user-1">
                    Uploaded Products
                </h4>
                <h4 class="user-1">Export as :  
                    <button class="table-button">
                        CSV
                    </button>
                    <button class="table-button">
                        PDF
                    </button>
                    <button class="table-button">
                        Print
                    </button>
                </h4>
                
                <div class="col-lg-12 table-responsive">
                    <table border="1" class="open-section-2 table">
                        <tr class="mode-1">
                            <th>Rent Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Available Rent</th>
                            <th>Equipment</th>
                            <th>Per Time</th>
                            <th>CreatedAt</th>
                            <th>Update</th>

                        </tr>
                            <tr class="mode-2">
                                <td>
                                    <%= data.title%>
                                </td>
                                <td>
                                    <%= data.price%>
                                </td>
                                <td>
                                    <%= data.description%>
                                </td>
                                <td>
                                    <%= data.location%>
                                </td>
                                <td>
                                    <%= data.available_rent%>
                                </td>
                                <td>
                                    <%= data.equipment%>
                                </td>
                                <td>
                                    <%= data.per_time%>
                                </td>
                                <td>
                                    <%= new Date(data.createdAt).toDateString()%>
                                </td> 
                                <td>
                                    <a data-toggle="modal" data-target=".bd-example-modal-lg">
                                        <i class="fa fa-edit"></i>

                                    </a>
                                </td>
                            </tr>
                           
                    </table>

                            <!-- modal -->


                                      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Equipment Rent Update</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          
           <form method="post" action="/dashboard/admin/rent-update/<%= data.id%>">
            <div class="row bg-white py-3 rounded-lg">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName" class="text-dark">Rental Title</label>
                            <input required type="text" name="title" class="form-control" id="inputName" required
                                placeholder="Title" value="<%= data.title%>">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName" class="text-dark">Rental Location</label>
                            <input required type="text" class="form-control" name="location" id="inputName" required
                                placeholder="No 05, Apt 5, Deepend Avenue" value="<%= data.location%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-dark">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="description"
                            rows="3"><%= data.description%></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-dark">Available Equipments</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="equipment"
                            rows="3"><%= data.equipment%></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName" class="text-dark">Price</label>
                            <input required type="number" min="0" name="price" class="form-control" id="inputEmail4"
                                placeholder="5000" value="<%= data.price%>">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputName" class="text-dark">Per Time/hr</label>
                            <select name="per_time" class="form-control" id="inputPassword4">
                                <option value="<%= data.per_time%>" selected><%= data.per_time%></option>
                                <option value="hourly">Hourly</option>
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                      
                        <div class="form-group col-md-12">
                            <label for="inputName" class="text-dark">Available For Rent </label>
                            <input required name="available_rent" type="number" min="0" min="0" class="form-control" placeholder="5" id="inputPassword4" value="<%= data.available_rent%>">
                        </div>
                    </div>



                    <button type="submit" name="submit" value="submit"
                        class="btn btn-primary btn-block border-0"
                        style="background-color: red;">Submit</button>
                </div>
            </div>
        </form>
        </div>
                            
      </div>
    </div>
  </div>

  <!-- modal end -->
                    <div class="view">View all users <i class="bi bi-arrow-right"></i></div>
                </div>
            </div>
        </div>

        <div class="row bg-white rounded-lg">
            <div class="col-lg-12">
            <h3>Rent Images</h3>
        <div class="row bg-white rounded-lg">

            <% if(img.length){ for(var i=0; i< img.length; i++) { %>
                <div class="col-lg-6">
                    <img src="<%= img[i].img_url%>" class="img-thumbnail" alt="rentimages" >
                </div>
           <% }}else{ %>
            <div class="col-lg-12"><h4>no image available</h4></div>
            <% } %>
                
        </div>      
            </div>    
        </div>
        <!-- Table section Ends -->
        <!-- end row -->
        
    </div>
    
    
    <!-- end container-fluid -->
</div>
<!-- end app-main -->
</div>
<!-- end app-container -->
<!-- begin footer -->
 <!-- begin footer -->
 <%- include("../../partials/admin_footer") %>

<!-- end app -->

<!-- plugins -->


<!-- end app -->

<!-- plugins -->

</body>
</html>